.App {
  text-align: center;
  background: #eeeeee;
  padding-top: 2em;
  // background: red;
  .detail-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    .total {
      display: flex;
      justify-content: center;
      align-items: center;
      // box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
      //   0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
      svg {
        font-size: 3.5rem;
      }
      p {
        font-size: 3rem;
      }
    }
    .extras {
      text-align: left;
      // border: 1px solid red;
      justify-content: center;
      align-items: center;
      display: flex;
      p {
        // margin: 0;
        span {
          font-weight: bold;
        }
      }
    }
  }
  .paper-box {
    // border: 1px solid blue;
    width: 100%;
    height: 100%;
  }
  .employee-table {
    thead {
      th {
        cursor: pointer;
        &:hover {
          background: lightgray;
        }
      }
    }
    tbody {
      tr {
        &:hover {
          background: #eeeeee;
        }
      }
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
